<ion-view view-title="叮咚医邦" >
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/wxpay" class="button button-clear ion ion-chevron-left" >返回</a>
        <h1 class="title">提现申请</h1>
        <a href="#/tab/cashApply"  class="button button-clear " >规则</a>
    </ion-header-bar>

    <ion-content class="row-no-padding" style="background-color: #F0F0F0">

        <div class="list">

            <label class="item item-input">
                <button ng-model="ctrlScope.getCard" ng-click="getCard()"  class="button button-clear ion ion-android-add" >&nbsp;&nbsp;银&nbsp;&nbsp;&nbsp;&nbsp;行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <input style=" text-align:right" type="text" name="name" ng-model="ctrlScope.bankName" placeholder="请选择银行卡" required readonly>
            </label>

            <!--<label class="item item-input">-->
                <!--<span class="input-label">开户支行</span>-->
                <!--<input type="tel" ng-model="ctrlScope.bankBranchName"  placeholder="请输入开户支行" required >-->
            <!--</label>-->
            <!--<br/>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">开户行所在地</span>-->
                <!--<input type="tel" ng-model="ctrlScope.bankAddress"  placeholder="请输入开户行所在地" required >-->
            <!--</label>-->
            <label class="item item-input">
                <span class="input-label">银&nbsp;行&nbsp;卡&nbsp;号</span>
                <input type="text" style=" text-align:right" ng-model="ctrlScope.cardNumber"  placeholder="请输入储蓄卡号" required readonly>
            </label>

            <label class="item item-input">
                <span class="input-label">开户人姓名</span>
                <input type="text" style=" text-align:right" ng-model="ctrlScope.cardName"  placeholder="请输入开户人姓名" required readonly>
            </label>
            <br/>
            <label class="item item-input">
                <span class="input-label">提&nbsp;现&nbsp;金&nbsp;额</span>
                <input type="tel" style=" text-align:right" ng-model="ctrlScope.amount"  placeholder="请输入提现金额" required >
            </label>

        </div>

        <div>
            <h2 id='navigation' class="button button-positive" ng-click="cashApply('提交申请')" >提交申请</h2>
        </div>
    </ion-content>
</ion-view>