<ion-view view-title="叮咚医邦">
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/accountAll"  class="button button-clear ion ion-chevron-left" >返回</a>
        <h1 class="title">我的财富</h1>
        <!--<a href="#/tab/userTransfer/0"  class="button button-clear ion ion-ios-paper" >账单</a>-->
    </ion-header-bar>

    <ion-content class="row-no-padding">
        <!--<div width="100%"    border="0" style="margin:5% 0 0 0" >-->
        <!--<img  style="max-height:140px;width:100%" src="http://www.yushansoft.com/dingdong/images/guanggao/go5.jpg"/>-->
        <!--</div>-->


        <div class="item item-avatar" style="background:#ffc900;">
            <img ng-src="http://www.yushansoft.com/dingdong/images/sys/accountBalance.png">
            <h2>账户余额（元）</h2>
            <h1>&nbsp;{{balance}}</h1>
            <a id='WxpayButtonStyle1' ></a>
            <a id='WxpayButtonStyle' class='button button-balanced'    href="#/tab/enchashment">  取现</a>

        </div>
        <ddexpander  expander-title='expanderTitle'>
            <ion-list>
                <div ng-repeat="userTransfer in vm.transferList">
                    <ion-item class="item-remove-animate item-avatar item-icon-right"
                              type="item-text-wrap" href="#/tab/patients/{{patient.userId}}/{{patient.id}}">
                        <img ng-src="{{userTransfer.headImgUrl}}" err-src="http://www.yushansoft.com/dingdong/images/sys/money_bag.png">
                        <h2  ><span style="float:left;" >{{userTransfer.reasonDesc}}</span><span style="  float:right; " ng-style="{'color': {true:'green',false:'red'}[userTransfer.amount>0]}">{{userTransfer.amount}}￥</span></h2>
                        <p ><span style=" float:left; " >{{userTransfer.fromUserName}}</span><span style="float:right;" >{{userTransfer.transactionTime| dateFormat1}}</span></p>

                    </ion-item>
                </div>
            </ion-list>
        </ddexpander>

        <div  ng-show="showOrNot" class="center" >
            <div class="title">
                还没有转账记录!
            </div>
        </div>

    </ion-content>

</ion-view>