<ion-view view-title="叮咚医邦">
    <ion-header-bar class="bar-calm" align-title="center">
     <h1 class="title">我的医院</h1>
     <!--<a href="#/tab/myHospital" class="button button-clear ion ion-android-add ">添加</a>-->
    </ion-header-bar>
    <ion-content class="row-no-padding"  style="background-color: #F0F0F0">

        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新...."
                       refreshing-text="正在刷新!"
                       refreshing-icon="ion-loading-b">

        </ion-refresher>

        <ion-list>
            <div ng-repeat="doctorHospital in hospitals">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          type="item-text-wrap">
                <!--<ion-item class="item-remove-animate item-avatar item-icon-right" -->
                      <!--type="item-text-wrap" href="#/tab/doctorHospitals/{{doctorHospital.id}}/{{doctorHospital.hospitalId}}">-->
 					 <img ng-src="{{doctorHospital.logo}}" err-src="http://www.yushansoft.com/dingdong/images/hospital/hospital.png">

                    <h2>{{doctorHospital.hospitalName}}</h2>
                    <p>{{doctorHospital.deptName}} &nbsp;&nbsp; <img ng-src="{{doctorHospital.status | queueStatus}}" ></p>
					<p>放号：{{doctorHospital.minQueue}}个&nbsp;|&nbsp;挂号费：{{doctorHospital.registerFee}}元</p>
                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                    <!--<ion-option-button class="button-assertive" ng-click="remove(doctorHospital)">-->
                        <!--删除-->
                    <!--</ion-option-button>-->
            </ion-item>
            </div>
        </ion-list>
    </ion-content>
		
</ion-view>