<ion-view view-title="叮咚医邦">
    <ion-header-bar class="bar-calm" align-title="center">
    <a href="#/tab/myHospital" class="button button-clear ion ion-chevron-left" >返回</a>
     <h1 class="title">入住医院</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding"  style="background-color: #F0F0F0">


        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="搜索医院" ng-model="vm.query">
                </label>
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="doctorHospital in vm.hospitals | filter:vm.query" class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" ng-click="vm.getHospital(doctorHospital)">
 					 <img ng-src="{{doctorHospital.logo}}" err-src="http://www.yushansoft.com/dingdong/images/hospital/hospital.png">

                    <h2>{{doctorHospital.name}}</h2>
					<p>地址：{{doctorHospital.province}}-{{doctorHospital.city}}</p>

            </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll pulling-text="加载更多..." ng-if="vm.moredata" on-infinite="vm.loadMore()"
                             distance="1%"></ion-infinite-scroll>
    </ion-content>

</ion-view>