<ion-view view-title="叮咚医邦">
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/smsValidHomePage"  class="button button-clear ion ion-chevron-left" >返回</a>
        <!--<a href="#/navigation"  class="button button-clear ion ion-chevron-left" >返回</a>-->
        <h1 class="title">服务协议</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding">
        <div align="center" class="item item-text-wrap">
            《叮咚医邦预约挂号服务协议》
        </div>
        <div class="list">
            <ion-list>
                <label class="item item-text-wrap">
                    　　 欢迎使用叮咚医邦，您在叮咚医邦申请网上预约挂号服务前，请仔细阅读本原则，如果您对本原则的任何条款表示异议，
                    您可以选择不使用叮咚医邦；如果您使用叮咚医邦，则意味着您将自愿遵守以下原则，并完全服从于叮咚医邦的统一管理。
                </label>
                <label class="item item-text-wrap">
                    一、叮咚医邦网站网上预约挂号服务是叮咚医邦网站提供的针对已注册并且开通此网上预约挂号服务的医生给予安排患者门诊机会（即“挂号”）的一项服务。
                </label>
                <label class="item item-text-wrap">
                    二、叮咚医邦网站网上预约挂号服务是大夫在第一执业之外，开展多点执业，给予患者的额外加诊，是 医生的个人行为，与输出医院无关。
                </label>
                <label class="item item-text-wrap">
                    三、网上预约挂号服务仅针对非首诊患者。首诊患者请您直接到附近正规医院，有初步诊断后方可免费预约网上挂号。
                </label>
                <label class="item item-text-wrap">
                    四、申请网上挂号服务的患者有责任按照要求填写预约申请（包括患者的基本资料、疾病资料等信息），所有信息必须真实。您的个人信息一旦填写，将无法删除，叮咚医邦有责任保证您的隐私信息保密不泄露。叮咚医邦管理员和医生有权利根据患者的具体情况决定是否给予预约。
                </label>
                <label class="item item-text-wrap">
                    五、预约成功以叮咚医邦网站的站内消息通知为准，同时会发送预约成功短信、就诊凭证短信。其中仅凭证短信作为找医生领取挂号单的凭证，因短信通道故障导致的发送不成功和延迟发送，叮咚医邦网站不负责任。
                </label>
                <label class="item item-text-wrap">
                    六、为杜绝号贩子倒号，就诊时务必带上网上申请挂号服务的手机和凭证短信（转发无效）、患者本人的身份证，否则由于患者真实性问题导致门诊不成功的后果由患者自负。
                </label>
                <label class="item item-text-wrap">
                    七、鉴于临床工作的特殊性，医生遇到抢救、急诊等特殊事件时，有可能延后甚至取消门诊。叮咚医邦网站将在获悉后第一时间通知您，出诊时间以医院当日公布出诊日期为准，由此产生的以下问题叮咚医邦、医生、医院不予负责：
                    　　 <br>●交通、餐饮、住宿等费用；
                    　　 <br>●患者延误门诊导致的病情延误；
                    　　 <br> ●以及其他由于门诊延误导致的问题。
                </label>
                <label class="item item-text-wrap">
                    八、申请网上挂号服务的患者有权利在就诊日期前一天16：00之前上网取消预约，否则未就诊一律按照爽约处理。一旦您出现爽约记录叮咚医邦网站将永不再向您提供这种挂号服务。
                </label>
                <label class="item item-text-wrap">
                    九、叮咚医邦提供的网上预约挂号服务是免费的服务。免费服务不包括医院的挂号费、检查费、治疗费以及您咨询相关服务的通话费、流量等费用。
                </label>
            </ion-list>
        </div>
        <div align="center" class="item item-text-wrap">
            如有疑问，请联系：
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">客服电话：</span>
                <p type="tel">400-400-400</p>
            </label>
            <label class="item item-input">
                <span class="input-label">客服微信：</span>
                <p>dingdongyiliao</p>
            </label>
            <label class="item item-input">
                <span class="input-label">客服&nbsp;&nbsp;QQ：</span>
                <p>666666</p>
            </label>
        </div>
    </ion-content>
</ion-view>

