<ion-view view-title="我的积分">

    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/accountAll" class="button button-clear ion ion-chevron-left">返回</a>
        <h1 class="title">我的积分</h1>
    </ion-header-bar>
    <ion-content class="padding">

        <div class="list card">

            <div class="item item-avatar">
                <img ng-src="http://www.yushansoft.com/dingdong/images/sys/score.png">
                <h2>我的积分：</h2>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.score}}&nbsp;&nbsp;&nbsp;咚咚</p>
            </div>
        </div>
    </ion-content>
</ion-view>