<ion-view>
    <ion-header-bar class="bar-calm" align-title="center">
        <h1 class="title">叮咚医邦</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding" >
        <ion-slide-box style="padding-top:0px;" on-slide-changed="slideHasChanged($index)" show-pager="true"
                       auto-play="true" does-continue="true" >
            <ion-slide  style=".slider-pager{text-align:right}">
                <img style="max-height:140px;width:100%"
                     src="http://www.yushansoft.com/dingdong/images/guanggao/ddyb.jpg"/>
            </ion-slide>
            <ion-slide style=".slider-pager{text-align:right}">
                <img style="max-height:140px;width:100%"
                     src="http://www.yushansoft.com/dingdong/images/guanggao/go5.jpg"/>
            </ion-slide>
        </ion-slide-box>
        <div class="div">
                <div class="div_left" onclick="window.location.href= '#/tab/patientsToday';return false">  <a href="#/tab/patientsToday" > <img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/patientsToday.png"/></a><br><p class="ex1">预约患者</p>
                </div>
                <!--<div class="div_left" onclick="window.location.href= '#/tab/patientsRegisters';return false"> <a href="#/tab/patientsRegisters"><img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/appointedPatients.png"/></a><br><p class="ex1">已约患者</p>-->
                <!--</div>-->
                <div class="div_left" onclick="window.location.href= '#/tab/patientsHistory';return false"> <a href="#/tab/patientsHistory" ><img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/treatmentHistory.png"/></a><br><p class="ex1">历史患者</p>
                </div>
                <div class="div_right" onclick="window.location.href= '#/tab/queueNum';return false"><a href="#/tab/queueNum" > <img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/line.png"/></a><br><p class="ex1">排队情况</p>
                </div>
                <div class="clear"></div><!-- html注释：清除float产生浮动 -->
       </div>
        <div class="div">
            <!--<div class="div_left" onclick="window.location.href= '#/tab/queueNum';return false"><a href="#/tab/queueNum" > <img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/line.png"/></a><br><p class="ex1">排队情况</p>-->
            <!--</div>-->
            <div class="div_left" onclick="window.location.href= '#/tab/funs';return false"> <a href="#/tab/funs"><img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/funs.png"/></a><p class="ex1">我的粉丝</p>
            </div>
            <div class="div_left" onclick="window.location.href= '#/tab/doctorCode';return false"> <a href="#/tab/doctorCode"><img height="42" width="42" src="http://www.yushansoft.com/dingdong/images/sys/QR_Code.png"/></a><p class="ex1">我的二维码</p>
            </div>
            <div class="div_right" >
            </div>
            <div class="clear"></div><!-- html注释：清除float产生浮动 -->
        </div>
        <br/><br/>
        <!--<div style="margin:15% 0 0 0;text-align:center;margin:0 auto;">
            <p class="ex1">★热门医院★</p>
        </div>-->
   </ion-content>
</ion-view>