<ion-view view-title="叮咚医邦">
  <ion-header-bar  align-title="center" class="bar-calm"> 
    <h1 class="title">个人中心</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
	<a class="item item-icon-left" href="#/login" >
		 <i class="icon ion-person"></i>
		登录
        <i class="icon ion-ios7-telephone-outline"></i>
	</a>
      <a class="item item-icon-left" href="#/tab/doctorInformation">
        <i class="icon ion-information"></i>
        个人信息
          <i class="icon ion-ios7-telephone-outline"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/doctorRedPackets" >
        <i class="icon ion-log-in"></i>
        我的收入
        <i class="icon ion-ios7-telephone-outline"></i>
      </a>
       <a class="item item-icon-left item-icon-right" href="#/tab/smsValid" >
         <i class="icon ion-ios-telephone"></i>
            手机验证
         <i class="icon ion-ios7-telephone-outline"></i>
       </a>
    </ion-list>
  </ion-content>
</ion-view>
