<ion-header-bar class="bar bar-calm" align-title="center">
    <ddbackbutton></ddbackbutton>
    <h1 class="title">疾病详情</h1>
    <a href="#/" class="button button-clear">下一步</a>
</ion-header-bar>
<ion-content class="padding">

    <div class="list">
        <label class="item item-input">
            <span class="input-label">病情名称</span>
            <input type="text" placeholder="请输入病情名称">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">病情描述</span>
            <textarea rows="6" placeholder="请输入病情描述"></textarea>
        </label>

        <br>
        <a class="button button-large button-icon icon ion-images"> 上传病情详情照片</a>


    </div>

</ion-content>