<ion-tabs class="tabs-icon-top tabs-icon-only tabs-color-active-balanced">


  <ion-tab title="叮咚门诊" icon-off="ion-waterdrop" icon-on="ion-waterdrop" ui-sref="tab.main">
    <ion-nav-view name="tab-main"></ion-nav-view>

  </ion-tab>

  <ion-tab title="我的医生" icon-off="ion-android-people" icon-on="ion-android-people" ui-sref="tab.doctorsFan" >
    <ion-nav-view name="tab-doctorsFan"></ion-nav-view>
  </ion-tab>

   <ion-tab title="我"  class="tab-red-point-mine"  icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>

  </ion-tab>
</ion-tabs>
