<ion-view view-title="叮咚门诊">
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/account" class="button button-clear ion ion-chevron-left">返回</a>
        <h1 class="title">我的排队</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding">
        <ion-list ng-show="!showOrNot">
            <div ng-repeat="queue in queues">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          type="item-text-wrap" ng-click="queueInfor(queue)">
                    <img ng-src="http://www.yushansoft.com/dingdong/images/sys/queue.png">
                    <h2> {{queue.doctorName}} &nbsp;|&nbsp;{{queue.hospitalName}} </h2>
                    <p> 排队号：{{queue.seq}} </p>
                    <p> 排队时间：{{queue.scheduleDate }} </p>
                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                    <ion-option-button class="button button-assertive"
                                       ng-click="remove(queue)">取消
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
        <div ng-show="showOrNot" class="center">
            <div class="title">
                当前没有排队信息<br><a href="#/tab/doctorList">去叮咚名医排队吧！</a>
            </div>

        </div>
    </ion-content>
</ion-view>