<ion-view view-title="叮咚门诊">

    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/account" class="button button-clear ion ion-chevron-left" >返回</a>
        <h1 class="title">就诊记录</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding">
        <ion-list>
            <div ng-repeat="register in registersHistorys">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          type="item-text-wrap" href="#/tab/patientHistory/{{register.patientId}}/{{register.id}}">
                    <img ng-src="http://www.yushansoft.com/dingdong/images/sys/register_0.png">

                    <h2>就诊人： {{register.patientName}}&nbsp;&nbsp;&nbsp;{{register.status | registerStatus }}</h2>
                    <p> 医生：{{register.doctorName}}</p>
                    <p> 医院：{{register.hospitalName}}</p>
                    <p> 就诊时间：{{register.scheduleDate | dateFormat1}}&nbsp;{{register.timeSlot | timeSlot}}</p>
                </ion-item>
            </div>
        </ion-list>
        <div  ng-show="showOrNot" class="center" >
            <div class="title">
                当前没有就诊记录！
            </div>
        </div>
    </ion-content>
</ion-view>