<ion-view view-title="设置">

    <ion-header-bar class="bar bar-calm" align-title="center">
        <a ng-click="goBack();" class="button button-clear ion ion-chevron-left">返回</a>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content class="row-no-padding">
        <a class="item " ng-click="userSetting()">
            清除缓存
        </a>

        <a class="item" href="#">
            用户帮助
            <i class="icon ion-ios7-telephone-outline"></i>
        </a>

        <a class="item" href="#">
            关于我们
            <i class="icon ion-ios7-telephone-outline"></i>
        </a>
    </ion-content>
</ion-view>