<ion-view view-title="叮咚门诊">
    <ion-header-bar class="bar-calm" align-title="center">
        <a ng-click="goBack();" class="button button-clear ion ion-chevron-left">返回</a>
        <h1 class="title">患者</h1>
        <a href="#/tab/userPatientAdd" class="button button-icon icon ">添加</a>
    </ion-header-bar>
    <ion-content class="row-no-padding">

        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新...."
                       refreshing-text="正在刷新!"
                       refreshing-icon="ion-loading-b">

        </ion-refresher>

        <ion-list>
            <div ng-repeat="patient in patients">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          type="item-text-wrap" ng-click="getPatient(patient)">
                    <img ng-src="{{patient.headImgUrl}}"
                         err-src="http://www.yushansoft.com/dingdong/images/sys/patient.png">
                    <h2>{{patient.name}}&nbsp;|&nbsp;{{patient.gender | gender}}</h2>
                    <p>身份证号：{{patient.certificateId}}</p>
                    <ion-option-button class="button-assertive" ng-click="remove(patient)">
                        删除
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>

</ion-view>