<ion-nav-view name="tab-doctorsFan">
    <ion-view view-title="叮咚门诊">

        <ion-header-bar class="bar bar-calm" align-title="center">
            <a ng-click="goBack();" class="button button-clear ion ion-chevron-left">返回</a>
            <h1 class="title">叮咚名医</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false">

            <div id="search-bar">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper" id="search-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="搜索医生、医院" ng-model="vm.query">
                    </label>
                </div>
            </div>
            <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()"></ion-refresher>
            <div>
                <ion-item ng-repeat="doctor in vm.doctors | filter:vm.query"
                          class="item-remove-animate item-avatar item-icon-right"
                          type="item-text-wrap" href="#/doctors/{{doctor.id}}/doctorInforShow">


                    <img ng-src="{{doctor.headImgUrl}}"
                         err-src="http://www.yushansoft.com/dingdong/images/doctors/doctor_0.png">

                    <h2>{{doctor.name}}</h2>

                    <p>{{doctor.hospitalName}}</p>

                    <p>{{doctor.level}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                    <ion-option-button class="button-assertive" ng-click="remove(doctor)">
                        Delete
                    </ion-option-button>

                </ion-item>
            </div>
            <ion-infinite-scroll pulling-text="加载更多..." ng-if="vm.moredata" on-infinite="vm.loadMore()"
                                 distance="1%"></ion-infinite-scroll>
        </ion-content>
    </ion-view>
</ion-nav-view>
