<ion-view>
    <ion-header-bar class="bar-calm"  align-title="center">
        <h1 class="title">叮咚医邦</h1>
    </ion-header-bar>
    <ion-content  style="background-color: #F0F0F0">

        <div >
            <a href="{{inforUrl}}" class="item item-avatar item-icon-right">
                <img ng-src="{{doctor.headImgUrl}}" err-src="http://www.yushansoft.com/dingdong/images/ddmzQr.png">
                <h2>{{doctor.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{ctrlScope.phoneOld}}</h2>
                <!--<p>{{doctor.gender| gender}}</p>-->
                <p>{{doctor.level}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <!--<div align="right" >-->
                <!--<a  href="#/tab/doctorCode" class="item-icon-right">-->
                    <!--<img src="http://www.yushansoft.com/dingdong/images/sys/QR_Code.png"/>-->
                <!--</a>-->
            <!--</div>-->

        </div>

            <div >
                <div class="div_money" >
                    <a href="#/tab/wxpay" class="item item-avatar " >
                        <img ng-src="http://www.yushansoft.com/dingdong/images/sys/accountBalance.png" >
                        <p class="ex3">余额（元）<br/>{{balance}}</p>
                    </a>
                </div>
                <div class="div_score" >
                    <a href="#/tab/userTransfer/1" class="item item-avatar " >
                        <img ng-src="http://www.yushansoft.com/dingdong/images/sys/score.png" >
                        <p class="ex3">积分（咚）<br/>{{score}}</p>
                    </a>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <a class="item item-icon-left" href="#/tab/smsValid">
                <i class="icon ion-ios-telephone" style="color: #0a9dc7;"></i>
                手机核验
            </a>
            <!--<a class="item item-icon-left" href="#/tab/wxpay">-->
                <!--<i class="icon ion-cash" style="color: #ffc900;"></i>-->
                <!--我的财富-->
            <!--</a>-->
        <a class="item item-icon-left" href="#/tab/accountList">
            <i class="icon ion-card" style="color: gold"></i>
                银行卡
        </a>
        <a class="item item-icon-left" href="#/tab/terms">
            <i class="icon ion-ios-paper" style="color: #886aea"></i>
            服务协议
        </a>
        <a class="item item-icon-left" href="#/tab/setting">
            <i class="icon ion-android-settings" style="color: #886aea"></i>
           设置
        </a>

    </ion-content>
</ion-view>