<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingdong.register.mapper.CloseScheduleMapper">
    <resultMap type="closeSchedule" id="closeScheduleMap">
        <id property="id" column="id" />
        <result property="status" column="status" />
        <result property="weekScheduleId" column="week_schedule_id" />
        <result property="fromDate" column="from_date" />        
        <result property="toDate" column="to_date" />     
		<result property="reason" column="reason" />
		<result property="creatorId" column="creator_id" />
		<result property="createTime" column="create_time" />
    </resultMap>
    
	<select id="findById"  resultMap="closeScheduleMap">
		select * from close_schedule where id = #{id}
	</select>
	

	
	<select id="findByWeekScheduleIdStatus" resultMap="closeScheduleMap">
		select * from close_schedule where week_schedule_id = #{weekScheduleId}  and status=#{status} order by create_time
	</select>
    
	
</mapper>
