<ion-view view-title="叮咚门诊">
    <ion-header-bar class="bar bar-calm" align-title="center">
        <a href="#/tab/account" class="button button-clear ion ion-chevron-left">返回</a>
        <h1 class="title">我的积分</h1>
        <h2 class="button button-clear " ng-click="showConfirme('说明')">说明</h2>

    </ion-header-bar>

    <ion-content class="row-no-padding" overflow-scroll="false">

        <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()"></ion-refresher>

        <div class="item item-avatar" style="background:#ffc900;">
            <img ng-src="http://www.yushansoft.com/dingdong/images/sys/score.png">
            <h2>账户积分（咚）</h2>
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{score}}</h1>
        </div>
        <div ng-show="!showOrNot">
            <div class="item item-divider">
                账户明细
            </div>
            <ion-item ng-repeat="userTransfer in vm.transferList"
                      class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/patients/{{patient.userId}}/{{patient.id}}">
                <img ng-src="{{userTransfer.headImgUrl}}"
                     err-src="http://www.yushansoft.com/dingdong/images/sys/money_bag.png">
                <h2>{{userTransfer.amount}}</h2>
                <p>{{userTransfer.fromUserName}}-{{userTransfer.transactionTime |
                    dateFormat1}}-{{userTransfer.reasonDesc}}</p>
            </ion-item>
        </div>


        <div ng-show="showOrNot" class="center">
            <div class="title">
                还没有积分记录!
            </div>
        </div>

    </ion-content>
</ion-view>
